*{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
img{
    width: 100%;
    height: 500px;

}
 P{
    color: black;
    font-size: 30px;
    font-weight: 500px;
    font-style: italic;
}
